html {
  font-size: 1rem; 
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: steelblue;
}

.App {
  max-width: 100%;
  margin: 0 auto;
}

button {
  border-radius: 0.625rem; 
}

.navbar {
  margin: 0;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem; 
}

.navbar p {
  font-size: 1.5rem; 
  font-weight: bold;
}

.logo {
  margin-left: 0.625rem; 
  margin-right: 0.625rem; 
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 0.9375rem; 
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* -Hamburger- */
.bar-container {
  display: none;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  padding: 0.625rem; 
}

.bar {
  width: 1.5625rem; 
  height: 0.1875rem; 
  background-color: #fff;
  margin: 0.1875rem 0; 
}

/* Main */

.main {
  background-color: steelblue;
  opacity: 0.8;
}

/* Register */

/* Footer */
.footer {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 1.25rem 0; 
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.footer-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 43.75rem) { 
  .bar-container {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-links.show-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
