.user-info-container {
  width: 100vw;

  margin-bottom: 40px;
  padding-bottom: 200px;
  background: #2d3e3f;
  color: #fff;
}

.user-info-container h2 {
  margin-left: 30px;
}
.user-info {
  margin-top: 20px;
  margin-left: 20px;
}

.user-info-item {
  border: 1px solid black;
  padding: 10px 0px 10px 0px;
}

.user-info-item strong {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  margin-left: 10px;
}

.user-info-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 400px) {
  .user-info {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
